.products-page {
  width: 100%;
}

.page-title {
  margin-bottom: 20px;
  text-align: left;
}

.form-section {
  margin-bottom: 30px;
}

/* Responsive Grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.status {
  margin: 20px 0;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  padding: 8px 16px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.error {
  margin: 20px 0;
  color: red;
}

/*  mobie size  */
@media (max-width: 500px) {
  .header-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .add-btn {
    width: 100%;
  }

  .page-title{
    font-size: 2.9em;
  }
}